<ul>
  <h2>USUARIOS</h2>
  <div class="user-card" *ngFor="let user of users">
    <img src="{{ avatar(user.avatar) }}" />
    <span>{{ user.name }}</span>
  </div>
  <br />
  <h2>RUTINAS</h2>
  <li *ngFor="let routine of routines">{{ routine.name }}</li>
  <br />
  <h2>SESIONES</h2>
  <li *ngFor="let session of sessions">{{ session.date }}</li>
  <br />
  <h2>EJERCICIOS</h2>
  <li *ngFor="let exercise of exercises" class="ejercicios">
    {{ exercise.name }} - {{ exercise.muscle_group }}
  </li>
</ul>
